In [90]:
import pandas as pd
pd.set_option('display.max_columns',None)
import glob
import os
import numpy as np

os.chdir("C:/Users/Mpho Bohloko/Desktop/science/DataBR")
dfq1= pd.read_excel('C:/Users/Mpho Bohloko/Desktop/science/DataBR/TX_CURR  Q1 and Q2 Anonymised.xlsx', sheet_name="Q1FY22")
dfq1.to_excel('data_output1.xlsx', index=False)
dfq2= pd.read_excel('C:/Users/Mpho Bohloko/Desktop/science/DataBR/TX_CURR  Q1 and Q2 Anonymised.xlsx', sheet_name="Q2FY22")
dfq2.to_excel('data_output2.xlsx', index=False)

In [91]:
# creating quaters Variable
#dfq1['Qs'] = 2 for interger
dfq1['Qs'] = "Q1FY22"
dfq1

,District_Alias,Sub_District_Alias,Facility_Alias,Sex,FineAgeGroup,Total,Q1 + 20,Qs
0,District A,Sub District 1,Facility 1,Female,1-4,2,22,Q1FY22
1,District A,Sub District 1,Facility 1,Female,5-9,7,27,Q1FY22
2,District A,Sub District 1,Facility 1,Female,10-14,8,28,Q1FY22
3,District A,Sub District 1,Facility 1,Female,15-19,16,36,Q1FY22
4,District A,Sub District 1,Facility 1,Female,20-24,38,58,Q1FY22
...,...,...,...,...,...,...,...,...
10690,District C,Sub District 3,Facility 5,Male,45-49,222,242,Q1FY22
10691,District C,Sub District 3,Facility 5,Male,50-54,147,167,Q1FY22
10692,District C,Sub District 3,Facility 5,Male,55-59,134,154,Q1FY22
10693,District C,Sub District 3,Facility 5,Male,60-64,62,82,Q1FY22
10694,District C,Sub District 3,Facility 5,Male,65+,84,104,Q1FY22

In [92]:
dfq2['Qs'] = "Q2FY22"
dfq2

,District_Alias,Sub_District_Alias,Facility_Alias,Sex,FineAgeGroup,Total,Q2 + 20,Qs
0,District A,Sub District 1,Facility 1,Female,1-4,6,26,Q2FY22
1,District A,Sub District 1,Facility 1,Female,5-9,10,30,Q2FY22
2,District A,Sub District 1,Facility 1,Female,10-14,16,36,Q2FY22
3,District A,Sub District 1,Facility 1,Female,15-19,41,61,Q2FY22
4,District A,Sub District 1,Facility 1,Female,20-24,69,89,Q2FY22
...,...,...,...,...,...,...,...,...
10322,District C,Sub District 5,Facility 2,Male,35-39,439,459,Q2FY22
10323,District C,Sub District 5,Facility 2,Male,40-44,296,316,Q2FY22
10324,District C,Sub District 5,Facility 2,Male,45-49,190,210,Q2FY22
10325,District C,Sub District 5,Facility 2,Male,50-54,130,150,Q2FY22
10326,District C,Sub District 5,Facility 2,Male,55-59,66,86,Q2FY22

In [93]:
#appending two datasets and creating combID
dfc = pd.concat([dfq1,dfq2])
#dfc['combID'] = dfc['Sex'] + dfc['FineAgeGroup']
dfc['combID'] = dfc['FineAgeGroup'].astype(str) + dfc['Sex']
#dfc['combID'] = dfc['FineAgeGroup'] + dfc['Sex']
dfc

,District_Alias,Sub_District_Alias,Facility_Alias,Sex,FineAgeGroup,Total,Q1 + 20,Qs,Q2 + 20,combID
10324,District C,Sub District 5,Facility 2,Male,45-49,190,NaN,Q2FY22,210.0,45-49Male
10325,District C,Sub District 5,Facility 2,Male,50-54,130,NaN,Q2FY22,150.0,50-54Male
10326,District C,Sub District 5,Facility 2,Male,55-59,66,NaN,Q2FY22,86.0,55-59Male

In [94]:
#Create Column Positive
dfc['hivstatus'] = "Positive"
#combine columns
dfc['categoryoptioncomboname'] = dfc[['FineAgeGroup', 'Sex', 'hivstatus']].agg(','.join, axis=1)
dfc

,District_Alias,Sub_District_Alias,Facility_Alias,Sex,FineAgeGroup,Total,Q1 + 20,Qs,Q2 + 20,combID,hivstatus,categoryoptioncomboname
0,District A,Sub District 1,Facility 1,Female,1-4,2,22.0,Q1FY22,NaN,1-4Female,Positive,"1-4,Female,Positive"
1,District A,Sub District 1,Facility 1,Female,5-9,7,27.0,Q1FY22,NaN,5-9Female,Positive,"5-9,Female,Positive"
2,District A,Sub District 1,Facility 1,Female,10-14,8,28.0,Q1FY22,NaN,10-14Female,Positive,"10-14,Female,Positive"
3,District A,Sub District 1,Facility 1,Female,15-19,16,36.0,Q1FY22,NaN,15-19Female,Positive,"15-19,Female,Positive"
4,District A,Sub District 1,Facility 1,Female,20-24,38,58.0,Q1FY22,NaN,20-24Female,Positive,"20-24,Female,Positive"
...,...,...,...,...,...,...,...,...,...,...,...,...
10322,District C,Sub District 5,Facility 2,Male,35-39,439,NaN,Q2FY22,459.0,35-39Male,Positive,"35-39,Male,Positive"
10323,District C,Sub District 5,Facility 2,Male,40-44,296,NaN,Q2FY22,316.0,40-44Male,Positive,"40-44,Male,Positive"
10324,District C,Sub District 5,Facility 2,Male,45-49,190,NaN,Q2FY22,210.0,45-49Male,Positive,"45-49,Male,Positive"
10325,District C,Sub District 5,Facility 2,Male,50-54,130,NaN,Q2FY22,150.0,50-54Male,Positive,"50-54,Male,Positive"
10326,District C,Sub District 5,Facility 2,Male,55-59,66,NaN,Q2FY22,86.0,55-59Male,Positive,"55-59,Male,Positive"

In [95]:
#creating comboname separated by column
#dfc['categoryoptioncomboname'] = dfc.apply(lambda row: (row['FineAgeGroup'], row['Sex'], row['hivstatus']), axis = 1)
#generating Database exports
dfc['dataelementname'] = "TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Receiving ART"
dfc['dataelement_uid'] = "n9csABZUN9q"
dfc

,District_Alias,Sub_District_Alias,Facility_Alias,Sex,FineAgeGroup,Total,Q1 + 20,Qs,Q2 + 20,combID,hivstatus,categoryoptioncomboname,dataelementname,dataelement_uid
0,District A,Sub District 1,Facility 1,Female,1-4,2,22.0,Q1FY22,NaN,1-4Female,Positive,"1-4,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
1,District A,Sub District 1,Facility 1,Female,5-9,7,27.0,Q1FY22,NaN,5-9Female,Positive,"5-9,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
2,District A,Sub District 1,Facility 1,Female,10-14,8,28.0,Q1FY22,NaN,10-14Female,Positive,"10-14,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
3,District A,Sub District 1,Facility 1,Female,15-19,16,36.0,Q1FY22,NaN,15-19Female,Positive,"15-19,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
4,District A,Sub District 1,Facility 1,Female,20-24,38,58.0,Q1FY22,NaN,20-24Female,Positive,"20-24,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
5,District A,Sub District 1,Facility 1,Female,25-29,63,83.0,Q1FY22,NaN,25-29Female,Positive,"25-29,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
6,District A,Sub District 1,Facility 1,Female,30-34,81,101.0,Q1FY22,NaN,30-34Female,Positive,"30-34,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
7,District A,Sub District 1,Facility 1,Female,35-39,83,103.0,Q1FY22,NaN,35-39Female,Positive,"35-39,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
8,District A,Sub District 1,Facility 1,Female,40-44,61,81.0,Q1FY22,NaN,40-44Female,Positive,"40-44,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
9,District A,Sub District 1,Facility 1,Female,45-49,62,82.0,Q1FY22,NaN,45-49Female,Positive,"45-49,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
10,District A,Sub District 1,Facility 1,Female,50-54,50,70.0,Q1FY22,NaN,50-54Female,Positive,"50-54,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
11,District A,Sub District 1,Facility 1,Female,55-59,45,65.0,Q1FY22,NaN,55-59Female,Positive,"55-59,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
12,District A,Sub District 1,Facility 1,Female,60-64,41,61.0,Q1FY22,NaN,60-64Female,Positive,"60-64,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
13,District A,Sub District 1,Facility 1,Female,65+,27,47.0,Q1FY22,NaN,65+Female,Positive,"65+,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
14,District A,Sub District 1,Facility 1,Male,<1,1,21.0,Q1FY22,NaN,<1Male,Positive,"<1,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
15,District A,Sub District 1,Facility 1,Male,1-4,2,22.0,Q1FY22,NaN,1-4Male,Positive,"1-4,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
16,District A,Sub District 1,Facility 1,Male,5-9,3,23.0,Q1FY22,NaN,5-9Male,Positive,"5-9,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
17,District A,Sub District 1,Facility 1,Male,10-14,7,27.0,Q1FY22,NaN,10-14Male,Positive,"10-14,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
18,District A,Sub District 1,Facility 1,Male,15-19,5,25.0,Q1FY22,NaN,15-19Male,Positive,"15-19,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
19,District A,Sub District 1,Facility 1,Male,20-24,2,22.0,Q1FY22,NaN,20-24Male,Positive,"20-24,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q

In [54]:
#selecting variables in the import files
dfcd = pd.read_excel("C:/Users/Mpho Bohloko/Desktop/science/DataBR/Partner Data Import File - FY22Q1 v2.xlsx",sheet_name="dataelement_codelist", engine='openpyxl')
dfcd.head(2)
#filtering indicator and
#dfc = dfcd['code'].isin(['TX_CURR_NAT_N_NAT_Age_Sex_HIVStatus', 'TX_CURR_N_DSD_Age_Agg_Sex_HIVStatus'])
dfcd = dfcd[dfcd['code'].str.contains('TX_CURR_NAT_N_NAT_Age_Sex_HIVStatus')]
dfcd.tail(1)

,dataset,dataelementname,dataelement_uid,shortname,code,categoryoptioncomboname,categoryoptioncombo_uid,status
241,Host Country Results: Operating Unit Level (USG),"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus)",TX_CURR_NAT_N_NAT_Age_Sex_HIVStatus,"Unknown Age, Male, Positive",undUoo1tECg,Valid

In [113]:
#generating Database exports
#dfc['dataelementname'] = "TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Receiving ART"
#dfc['dataelement_uid'] = "n9csABZUN9q"

In [96]:
#generating categoryoptioncombo_uid by replacing function
# Replace String using apply() function with lambda.
#df2['combID'] = df2['combID'].str.replace('+', 'pls')
df2 = dfc.apply(lambda x: x.replace({'1-4Female':'dRjezxQktoz', '5-9Female':'zLbjm4E1NsG',
                                   '10-14Female':'AG0milXShQM',
                                    '15-19Female':'QqlHrg6f0Sm',
                                   '20-24Female':'LyXZybq6Sjf',
                                    '25-29Female':'zqARzn2wVj5',
                                    '30-34Female':'Vi8sd7mvZW4',
                                    '35-39Female':'hRq4baaUamW',
                                    '40-44Female':'PEXIFVXGP9S',
                                    '45-49Female':'J8fGj3Iefbc',
                                    '50-54Female':'VdMgEQkOtuV',
                                    '55-59Female':'yWgBf6UOK8d',
                                    '60-64Female':'lNnwcd2RT4K',
                                    '65+Female':'YOMb0sp9VLV',
                                     '<1Female':'OMVFa98P0Yg',
                                    '<1Male':'GnpJeq2XENE',
                                    '1-4Male':'jjUGfPF0ObP',
                                    '5-9Male':'p1HABZs9ydt',
                                    '10-14Male':'tEMe0224zlP',
                                    '15-19Male':'LpnJL4zZxRH',
                                   '20-24Male':'NCnIv37EwU1',
                                    '25-29Male':'y9LP85d8t4b',
                                    '30-34Male':'YDzeLL6xf5o',
                                    '35-39Male':'XcW5HWccYYZ',
                                    '40-44Male':'zouTxRQ0kXP',
                                    '45-49Male':'zUjkTTlva36',
                                    '50-54Male':'i1yTaswn4qW',
                                    '55-59Male':'N9EXA1gNh16',
                                    '60-64Male':'lNnwcd2RT4K',
                                    '65+Male':'Yy619I6uuTP'}, regex=True))
df2.head(20)

,District_Alias,Sub_District_Alias,Facility_Alias,Sex,FineAgeGroup,Total,Q1 + 20,Qs,Q2 + 20,combID,hivstatus,categoryoptioncomboname,dataelementname,dataelement_uid
0,District A,Sub District 1,Facility 1,Female,1-4,2,22.0,Q1FY22,NaN,dRjezxQktoz,Positive,"1-4,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
1,District A,Sub District 1,Facility 1,Female,5-9,7,27.0,Q1FY22,NaN,zLbjm4E1NsG,Positive,"5-9,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
2,District A,Sub District 1,Facility 1,Female,10-14,8,28.0,Q1FY22,NaN,AG0milXShQM,Positive,"10-14,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
3,District A,Sub District 1,Facility 1,Female,15-19,16,36.0,Q1FY22,NaN,QqlHrg6f0Sm,Positive,"15-19,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
4,District A,Sub District 1,Facility 1,Female,20-24,38,58.0,Q1FY22,NaN,LyXZybq6Sjf,Positive,"20-24,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
5,District A,Sub District 1,Facility 1,Female,25-29,63,83.0,Q1FY22,NaN,zqARzn2wVj5,Positive,"25-29,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
6,District A,Sub District 1,Facility 1,Female,30-34,81,101.0,Q1FY22,NaN,Vi8sd7mvZW4,Positive,"30-34,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
7,District A,Sub District 1,Facility 1,Female,35-39,83,103.0,Q1FY22,NaN,hRq4baaUamW,Positive,"35-39,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
8,District A,Sub District 1,Facility 1,Female,40-44,61,81.0,Q1FY22,NaN,PEXIFVXGP9S,Positive,"40-44,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
9,District A,Sub District 1,Facility 1,Female,45-49,62,82.0,Q1FY22,NaN,J8fGj3Iefbc,Positive,"45-49,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
10,District A,Sub District 1,Facility 1,Female,50-54,50,70.0,Q1FY22,NaN,VdMgEQkOtuV,Positive,"50-54,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
11,District A,Sub District 1,Facility 1,Female,55-59,45,65.0,Q1FY22,NaN,yWgBf6UOK8d,Positive,"55-59,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
12,District A,Sub District 1,Facility 1,Female,60-64,41,61.0,Q1FY22,NaN,lNnwcd2RT4K,Positive,"60-64,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
13,District A,Sub District 1,Facility 1,Female,65+,27,47.0,Q1FY22,NaN,65+Female,Positive,"65+,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
14,District A,Sub District 1,Facility 1,Male,<1,1,21.0,Q1FY22,NaN,GnpJeq2XENE,Positive,"<1,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
15,District A,Sub District 1,Facility 1,Male,1-4,2,22.0,Q1FY22,NaN,jjUGfPF0ObP,Positive,"1-4,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
16,District A,Sub District 1,Facility 1,Male,5-9,3,23.0,Q1FY22,NaN,p1HABZs9ydt,Positive,"5-9,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
17,District A,Sub District 1,Facility 1,Male,10-14,7,27.0,Q1FY22,NaN,tEMe0224zlP,Positive,"10-14,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
18,District A,Sub District 1,Facility 1,Male,15-19,5,25.0,Q1FY22,NaN,LpnJL4zZxRH,Positive,"15-19,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
19,District A,Sub District 1,Facility 1,Male,20-24,2,22.0,Q1FY22,NaN,NCnIv37EwU1,Positive,"20-24,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q

In [97]:
#continue replacing comID works on latest version
df2['combID'] = df2['combID'].str.replace('+', 'pls')
df2['combID'] = df2['combID'].str.replace('65plsFemale', 'YOMb0sp9VLV')
df2['combID'] = df2['combID'].str.replace('65plsFemale', 'Yy619I6uuTP')
df2

C:\Users\Mpho Bohloko\AppData\Local\Temp\ipykernel_15808\392104081.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['combID'] = df2['combID'].str.replace('+', 'pls')

,District_Alias,Sub_District_Alias,Facility_Alias,Sex,FineAgeGroup,Total,Q1 + 20,Qs,Q2 + 20,combID,hivstatus,categoryoptioncomboname,dataelementname,dataelement_uid
0,District A,Sub District 1,Facility 1,Female,1-4,2,22.0,Q1FY22,NaN,dRjezxQktoz,Positive,"1-4,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
1,District A,Sub District 1,Facility 1,Female,5-9,7,27.0,Q1FY22,NaN,zLbjm4E1NsG,Positive,"5-9,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
2,District A,Sub District 1,Facility 1,Female,10-14,8,28.0,Q1FY22,NaN,AG0milXShQM,Positive,"10-14,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
3,District A,Sub District 1,Facility 1,Female,15-19,16,36.0,Q1FY22,NaN,QqlHrg6f0Sm,Positive,"15-19,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
4,District A,Sub District 1,Facility 1,Female,20-24,38,58.0,Q1FY22,NaN,LyXZybq6Sjf,Positive,"20-24,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
5,District A,Sub District 1,Facility 1,Female,25-29,63,83.0,Q1FY22,NaN,zqARzn2wVj5,Positive,"25-29,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
6,District A,Sub District 1,Facility 1,Female,30-34,81,101.0,Q1FY22,NaN,Vi8sd7mvZW4,Positive,"30-34,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
7,District A,Sub District 1,Facility 1,Female,35-39,83,103.0,Q1FY22,NaN,hRq4baaUamW,Positive,"35-39,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
8,District A,Sub District 1,Facility 1,Female,40-44,61,81.0,Q1FY22,NaN,PEXIFVXGP9S,Positive,"40-44,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
9,District A,Sub District 1,Facility 1,Female,45-49,62,82.0,Q1FY22,NaN,J8fGj3Iefbc,Positive,"45-49,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
10,District A,Sub District 1,Facility 1,Female,50-54,50,70.0,Q1FY22,NaN,VdMgEQkOtuV,Positive,"50-54,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
11,District A,Sub District 1,Facility 1,Female,55-59,45,65.0,Q1FY22,NaN,yWgBf6UOK8d,Positive,"55-59,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
12,District A,Sub District 1,Facility 1,Female,60-64,41,61.0,Q1FY22,NaN,lNnwcd2RT4K,Positive,"60-64,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
13,District A,Sub District 1,Facility 1,Female,65+,27,47.0,Q1FY22,NaN,YOMb0sp9VLV,Positive,"65+,Female,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
14,District A,Sub District 1,Facility 1,Male,<1,1,21.0,Q1FY22,NaN,GnpJeq2XENE,Positive,"<1,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
15,District A,Sub District 1,Facility 1,Male,1-4,2,22.0,Q1FY22,NaN,jjUGfPF0ObP,Positive,"1-4,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
16,District A,Sub District 1,Facility 1,Male,5-9,3,23.0,Q1FY22,NaN,p1HABZs9ydt,Positive,"5-9,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
17,District A,Sub District 1,Facility 1,Male,10-14,7,27.0,Q1FY22,NaN,tEMe0224zlP,Positive,"10-14,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
18,District A,Sub District 1,Facility 1,Male,15-19,5,25.0,Q1FY22,NaN,LpnJL4zZxRH,Positive,"15-19,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q
19,District A,Sub District 1,Facility 1,Male,20-24,2,22.0,Q1FY22,NaN,NCnIv37EwU1,Positive,"20-24,Male,Positive","TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q

In [56]:
#exports
df2.to_excel('data_allspider.xlsx', index=False)
#rename some of columns
df2 = df2.rename(columns = {'Total': 'value', 'combID': 'categoryoptioncombo_uid'})

df2.columns

Index(['District_Alias', 'Sub_District_Alias', 'Facility_Alias', 'Sex',
       'FineAgeGroup', 'value', 'Q1 + 20', 'Qs', 'Q2 + 20',
       'categoryoptioncombo_uid', 'hivstatus', 'categoryoptioncomboname',
       'dataelementname', 'dataelement_uid'],
      dtype='object')

In [57]:
# cleaned dataset(filtered needed variables) for import
dftx = df2[['dataelementname', 'dataelement_uid', 'categoryoptioncomboname', 'categoryoptioncombo_uid', 'value']]
#exports to final import dataset
dftx.to_excel('dfqall_import.xlsx', index=False)
dftx

,dataelementname,dataelement_uid,categoryoptioncomboname,categoryoptioncombo_uid,value
0,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"( 1-4, Female, Positive)",dRjezxQktoz,2
1,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"( 5-9, Female, Positive)",zLbjm4E1NsG,7
2,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(10-14, Female, Positive)",AG0milXShQM,8
3,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(15-19, Female, Positive)",QqlHrg6f0Sm,16
4,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(20-24, Female, Positive)",LyXZybq6Sjf,38
...,...,...,...,...,...
10322,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(35-39, Male, Positive)",XcW5HWccYYZ,439
10323,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(40-44, Male, Positive)",zouTxRQ0kXP,296
10324,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(45-49, Male, Positive)",zUjkTTlva36,190
10325,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(50-54, Male, Positive)",i1yTaswn4qW,130
10326,"TX_CURR_NAT (N, NAT, Age/Sex/HIVStatus): Recei...",n9csABZUN9q,"(55-59, Male, Positive)",N9EXA1gNh16,66